
	
.sidebar_image {  
  width: 200px;
}


.button {
  display: block;
  width: 80px;
  height: 25px;
  background: #4E9CAF;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}


#Argument_Container{  
  width: 500px;
}

#Argument_Wrapper{  
  margin-left: auto;
  margin-right: auto;
  float: left;
}

.Argument {
  min-height: 400px;
  margin-right: 20px;
  margin-left: 20px;
  width: 150px;
}

.Argument.Left{  
  border: 1px solid red;
}

.Argument.Right{  
  border: 1px solid blue;
}