

{% if beef_list|length==0 %}

<!-- In case this list is empty, display the following block: -->
{% block empty %}
No Beef Yet (Database is empty.  This is probably an error.)
{% endblock %}

<!-- Else, move on -->
{% else %}

<table class="BeefTable" >
  <tr class="BeefTitle">
    <td>Title</td>  <td>Beef is Against</td> <td>Date Created</td> <td class="TableEmpty"> </td>
  </tr>

  {% for beef_dict in beef_list %}
  <tr>  
    <td>{{ beef_dict["BeefTitle"] }}</td> 
    <td>{{ beef_dict["BeefOpponent"] }}</td> 
    <td>{{ beef_dict["TimeCreated"] }}</td>
    <td> <a class="button" href="/Beef?_id={{ beef_dict['_id'] }}">View Beef</a> </td>
  </tr> 

  {% endfor %}
</table>

{% endif %}
