
<!-- Inherit from the main template -->
{% extends "main_template.html" %}

{% block head %}
<script type="text/javascript" src="{{url_for('static', filename='create_beef.js')}}"></script>
{% endblock %}

<!-- Fill in the Middle template -->
{% block body %}

Create Beef:

    <form id="NewBeefForm" >
      <fieldset>
	<legend>New Beef:</legend>

	<label class="required" accesskey="f">Beef Title: </label>
	<input type="text" id="BeefTitle" name="BeefTitle" tabindex="1" value="" ><br>

	<label accesskey="e">Opponent: </label>
	<input type="text" id="BeefOpponent" name="BeefOpponent" tabindex="3" ><br>

	<label accesskey="e">Description: </label>
	<textarea  id="BeefDescription" name="BeefDescription" rows="5" 
		   style="text-align: left" maxlength="1000" cols="30"> </textarea> 

      </fieldset>
    </form>

    <button id="CreateBeef">Create Beef</button>

{% endblock %}

