
<!-- Inherit from the main template -->
{% extends "main_template.html" %}

{% block head %}
<script type="text/javascript" src="{{url_for('static', filename='create_beef.js')}}"></script>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript" src="http://jzaefferer.github.com/jquery-validation/jquery.validate.js"></script>
{% endblock %}


{# <!-- Create a macro to render the form --> #}
{% macro render_field(field) %}
<div style="float: left; margin-right: 10px;" > 
  {{ field.label(style="float: left;") }} 
  <div style="float: left; margin-right: 5px;">: </div> 
  <div class="FormInput" style="float: left;" > {{ field(**kwargs)|safe }} </div> 
</div>
{% if field.errors %}
<ul class=errors>
  {% for error in field.errors %}
  <li>{{ error }}</li>
  {% endfor %}
</ul>
{% endif %}
{% endmacro %}


<!-- Fill in the Middle template -->
{% block document %}

<div>
Create Beef:
</div>

<div id="new_beef_wrapper" style="text-align: center;">

  <form id="CreateBeefForm" accept-charset="UTF-8" 
	style="width: 500px; text-align: left; margin-left: auto; margin-right: auto;">
    
    <fieldset style="width: 500px;">
      <legend>New Beef</legend>
      
      <style>
	tr {border: 0px solid black;}
	td {border: 0px solid black; width: 100px;}
      </style>

      {{ render_field(form.Title,    style="width: 120px;",  class="required") }}
      {{ render_field(form.Opponent, style="width: 120px;",  class="required") }} 
      <br>
      <div style="margin-bottom: 10px;"></div>
      {{ render_field(form.Description, style="width: 400px;",  class="required", rows="3") }}
      <br>
      <div style="margin-bottom: 10px;"></div>
      {{ render_field(form.Argument,  style="width: 400px;", class="required", rows="8") }}

    </fieldset>

    <p><input type="submit" id="CreateBeef" value="Create Beef" >
  </form>


<div id="Result" style="display: none; text-align: center; margin-top: 20px;" >
</div>


{% endblock %}

