

<!-- Inherit from the main template -->
{% extends "main_template.html" %}

<!-- Fill in the Middle template -->
{% block document %}

<table class="BeefTable" border="1">
<tr class="BeefTitle">
{% for (name, val) in beef_dict.iteritems() if name != '_id' %}
    <td>{{ name }}</td>
{% endfor %}
</tr> 
<tr>
{% for (name, val) in beef_dict.iteritems() if name != '_id' %}
    <td>{{ val }}</td>
{% endfor %}
</tr> 
</table>

<div style="clear:both;"></div>

<div id="VoteWrapper">
  <button class="Vote VoteLeft">Vote For Me</button>
  <button class="Vote VoteRight">Vote For Me</button>
</div>

<div id="Argument_Container">
  <div id="Argument_Wrapper">

  <div class="Argument Left">
    {{ argument_left }}
  </div>
  
  <div class="Argument Right">
    {{ argument_right }}
  </div>
  
  </div>
</div>

<div style="clear:both;"></div>
  


{% endblock %}
