

<!-- Inherit from the main template -->
{% extends "main_template.html" %}

<!-- Additional head loads -->
{% block head %}
<script type="text/javascript" src="{{url_for('static', filename='get_beef.js')}}"></script>
{% endblock %}


{% macro BeefTable(beef_dict) -%}
<!-- Macro to make beef table -->
<table class="BeefTable" border="1">
  <tr class="BeefTitle">
    <td>Title</td>  <td>Beef is Against</td> <td>Date Created</td>
  </tr>
  <tr>
    <td>{{ beef_dict["BeefTitle"] }}</td> <td>{{ beef_dict["BeefOpponent"] }}</td> <td>{{ beef_dict["TimeCreated"] }}</td>
  </tr> 
  <tr>
    <td colspan = "3" class="BeefDescription">
      {{ beef_dict["BeefDescription"] }}
    </td>
  </tr>
</table>
{%- endmacro %}

{% block document %}

{{ BeefTable(beef_dict) }}

<div style="clear:both;"></div>

<div id="VoteWrapper" style="margin-bottom: -50px;">
      <button id="VoteLeft" class="Vote VoteLeft" >Vote For Me</button>  
  <div id="VotesTotalLeft">{{ VotesFor }}</div>
  <div id="VotesTotalRight">{{ VotesAgainst }}</div>
  <button id="VoteRight" class="Vote VoteRight">Vote For Me</button> 
  <div style="clear:both;"></div>
</div>

<div id="Argument_Container">
  <div id="Argument_Wrapper">
    
    <div class="Argument Left">
      <h2 class="ArgumentTitle" >Argument:</h2>
      <textarea class="Content" {% if beef_owner %} redonly="false" {% else %} readonly="true" {% endif %} >
	My Argument Example Left
	{{ argument_left }}
      </textarea>
      {% if beef_owner %} <button id="SaveLeft">Save Changes </button>{% else %}{% endif %}
    </div>
    
    <div class="Argument Right">
      <h2 class="ArgumentTitle">Defense:</h2>
      <textarea class="Content" {% if beef_against %} redonly="false" {% else %} readonly="true" {% endif %} >
	My Argument Example Right
	{{ argument_right }}
      </textarea>
      {% if beef_against %} <button id="SaveRight">Save Changes </button>{% else %}{% endif %}
    </div>
  
  </div>
</div>

<div style="clear:both;"></div>

<div class="CommentWrapper">
  <h2> Comments </h2>
  <div id="Comment_List">
    {% if comment_list|length==0 %}
    <h3 id="NoCommentsYet">No comments added (but you can be the first)</h3>
    {% else %}
    {% for comment in comment_list %}

    {% include "comment.html" %}
    {# <!--
    <div class="Comment">
      <textarea readonly="true" class="Comment">
	{{ comment["comment"] }}
      </textarea>
      <a href="/user?_id={{ comment['user_id'] }}" class="User">{{ comment["username"] }}</a> <div id="Time">{{ comment["TimeCreated"] }}</div>
    </div>
    --> #}
    {% endfor %}
    {% endif %}
  </div>  
  <button id="AddComment">Add a Comment</button>

</div>
<div style="clear:both;"></div>
<div id="NewCommentWrapper" class="CommentWrapper">
  <h2> Please add a comment </h2>
  <textarea id="NewComment">
  </textarea> <br>
  <button id="SaveComment">Save Comment</button>   <button id="CancelComment">Cancel Comment</button>
</div>

{% endblock %}
