

<!-- Inherit from the main template -->
{% extends "main_template.html" %}

{% import "macros.html" as macros %}

<!-- Additional head loads -->
{% block head %}
<script type="text/javascript" src="{{url_for('static', filename='get_beef.js')}}"></script>
{% endblock %}


<!-- Fill in the Middle template -->
{% block document %}

{{ macros.BeefTable(beef_dict) }}

<!--
<table class="BeefTable" border="1">
  <tr class="BeefTitle">
    <td>Title</td>  <td>Beef is Against</td> <td>Date Created</td>
  </tr>
  <tr>
    <td>{{ BeefTitle }}</td> <td>{{ BeefOpponent }}</td> <td>{{ TimeCreated }}</td>
  </tr> 
  <tr>
    {{ BeefDescription }}
  </tr>
</table>
-->

<div style="clear:both;"></div>

<div id="VoteWrapper" style="margin-bottom: -50px;">
  <button id="VoteLeft" class="Vote VoteLeft">Vote For Me</button>  
  <div id="VotesTotalLeft">{{ VotesFor }}</div>
  <div id="VotesTotalRight">{{ VotesAgainst }}</div>
  <button id="VoteRight" class="Vote VoteRight">Vote For Me</button> 
  <div style="clear:both;"></div>
</div>

<div id="Argument_Container">
  <div id="Argument_Wrapper">
    
    <div class="Argument Left">
      <h2 class="ArgumentTitle" >Argument:</h2>
      <textarea class="Content" {% if beef_owner %} redonly="false" {% else %} readonly="true" {% endif %} >
	{{ argument_left }}
      </textarea>
    </div>
    
    <div class="Argument Right">
      <h2 class="ArgumentTitle">Defense:</h2>
      <textarea class="Content" {% if beef_owner %} redonly="false" {% else %} readonly="true" {% endif %} >
	{{ argument_right }}
      </textarea>
    </div>
  
  </div>
</div>

<div style="clear:both;"></div>


<div class="CommentWrapper">
  <h2> Comments </h2>
  <div class="Comments">
    <textarea readonly="true">
    </textarea>
  </div>  

</div>

{% endblock %}
