

<div id="header">

  <div id="navebar_padding">
    &nbsp;
  </div>

  <div id="navebar_wrapper" >
    <nav id="navebar" >
      <a href="/">Home</a>
      <a href="/LatestBeef">Latest Beef</a>
      <a href="/MyBeef">My Beef</a>
      <a href="/CreateBeef">Create Beef</a> 
    </nav>
  </div>

  <div id="navebar_padding">
    <div id="User"> 
      {% if not current_user.is_anonymous() %}
      User Name: {{ current_user.name }} <br>
      <a href="/api/logout">Log Out</a>
      {% else %}
      Not Logged In <br>
      <a href="/login">Login</a> <a href="/NewUser">New User</a>
      {% endif %}
    </div>
  </div>

  <div class="clearer"></div>

</div>

