

<div id="header" style="margin-left: auto; margin-right: auto; text-align: center;">
  <nav id="navebar" style="margin-top: 20px" >
    <a href="/">Home</a> | 
    <a href="/LatestBeef">Latest Beef</a>  |
    <a href="/MyBeef">My Beef</a>  |
    <a href="/CreateBeef">Create Beef</a> 
  </nav>
</div>

<div id="User" style="text-align: right; margin-right: 100px;"> 
  <div id="CurrentUser">
    {% if not current_user.is_anonymous() %}
    User Name: {{ current_user.name }}
    {% else %}
    Not Logged In
    {% endif %}
  </div>
</div>
