
<!-- Inherit from the main template -->
{% extends "main_template.html" %}

{% from "beef_list.html" import create_beef_list %}

<!-- Fill in the Middle template -->
{% block body %}

<div class="PlainText" style="margin-left: auto; margin-right: auto;">
Have you ever had an argument with a person that went unresolved?
Have you ever needed complete and final verdict on who is right and who is in the wrong?
Have you ever demanded arbitration, but not known where to turn.

If so, then you've got beef, and we've got the solution.
</div>

<h2>Latest Beef:</h2>


{% if beef_list|length==0 %}
No Beef Yet (Database is empty.  This is probably an error.)
{% else %}
{{ create_beef_list(beef_list) }}
{% endif %}

{% endblock %}

